{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# the web debug toolbar content #}
    {% set icon %}
        {% set asset = collector.compiled|length > 0 ? asset('bundles/cypresscompasselephant/icons/compass_24_red.png') : asset('bundles/cypresscompasselephant/icons/compass_24.png') %}
        <img alt="" src="data:image/png;base64,{{ base64_encode(asset) }}" />
        <span class="sf-toolbar-status {% if collector.messages|length > 0 %}sf-toolbar-status-red{% endif %}">{{ collector.messages|length }}</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Errori</b>
            <span>{{ collector.messages|length }}</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': true } %}
{% endblock %}

{#{% block head %}
    &#123;&#35; if the web profiler panel needs some specific JS or CSS files &#35;&#125;
{% endblock %}#}

{% block menu %}
<span class="label">
    <span class="icon"><img alt="" src="data:image/png;base64,{{ base64_encode(asset('bundles/cypresscompasselephant/icons/compass_30.png')) }}" /></span>
    <strong>Compass</strong>
    <span class="count">
        <span>{{ collector.messages|length }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    {% for message in collector.messages %}
        {{ message }}
    {% endfor %}
{% endblock %}